# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: Ruby

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        #  ruby-version: ['3.1', '3.2']
        #  3.1 tested locally, so just test 3.2 (we're writing Elm, not Ruby here)
        ruby-version: ['3.2']

    env:
      HZ: 17.63
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - uses: actions/setup-node@v4
        with:
          node-version: 16

      - name: Yarn install
        run: yarn install
      # Run elm tests for correctness before speed tests
      - name: Run Elm tests
        run: yarn run elm-test
      # Run ruby tests in headless mode
      - name: Ruby tests
        run: xvfb-run -a bundle exec rake spec
